<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imagen</title>
</head>
<body>
  <h1>Imagen desde Base64</h1>
  <h1>se tiene que utiizar esta manera para recibirlo en EJS</h1>
  <img src="data:image/jpeg;base64,<%= imagen1 %>" alt="Imagen">
  <img src="data:image/jpeg;base64,<%= imagen2 %>" alt="Imagen">
  <img src="data:image/jpeg;base64,<%= imagen3 %>" alt="Imagen">

</body>
</html>
